<button (click)="getDogs()">Get dogs</button>
<button style="margin-left: 10px" (click)="getDogsThreeTimes()">
  Get dogs three times
</button>
<button
  style="margin-left: 10px"
  (click)="getAllDogsSavedInRepeatableSubject()"
>
  Log all dogs saved in repeatable subject
</button>
<div class="dogs">
  <div class="all-dogs-container">
    ALL DOGS
    <div class="dog" *ngFor="let dog of allDogs$ | async">
      {{ dog?.name }}
    </div>
  </div>

  <div class="all-dogs-three-times-container">
    ALL DOGS THREE TIMES
    <div class="dog" *ngFor="let dog of allDogsThreeTimes$ | async">
      {{ dog?.name }}
    </div>
  </div>
</div>

<input
  style="margin-left: 10px"
  id="file"
  type="file"
  (change)="uploadFile($event)"
  name="file-upload"
/>
<button (click)="downloadFile()">Download file</button>
<button style="margin-left: 10px" (click)="cancelUpload()">
  Cancel upload
</button>
<div class="files">
  <div class="upload-container">
    UPLOAD
    <progress max="100" [value]="uploadProgress"></progress>
    <span>{{ uploadProgress }} %</span>
  </div>
  <div class="download-container">
    DOWNLOAD
    <progress max="100" [value]="downloadProgress"></progress>
    <span>{{ downloadProgress }} %</span>
  </div>
</div>
